<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
  >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">HttpLens</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-start"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/bin']">New Bin</a>
          </li>
          <li *ngIf="binId.length > 0">
            <a class="nav-link text-dark" [routerLink]="['/bin/' + binId]">Current Bin: {{ binId }}</a>

          </li>
          <li *ngIf="binId.length > 0">
            <a class="nav-link text-dark" [routerLink]="['/bin/' + binId + '/help']">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
